services:
  app:
    build: .                    # Current directory
    ports:
      - "8000:5000"
    depends_on:
      - redis
    restart: unless-stopped
  redis:
    image: redis:alpine
    volumes:
      - redis_data:/data
volumes:
  redis_data: